@media only screen and (min-width: 1025px) and (max-width: 2000px) {
    /* new megamenu */
	.padd_right_0 img{width: 100%}
	.padd_0 img{width: 100%}
    .cus_nv {
        text-align: center;
        width:70%;
        padding:0;
        margin: 0 auto;
        position: relative;
        display: flex;
        justify-content: center;
    }
    .cus_nv ul {
        list-style: none;
        padding:0;
        margin: 0;
    }
    .cus_nv>ul>li {
        display: inline-block;
    }
    .cus_nv ul li a {
        color: #333333;
        display: block;
        padding: 0px 15px;
        text-decoration: none;
        float: left;
        height: 30px;
        line-height: 30px;
    }
    .cus_nv ul li:hover>a {
        color: #BE8F45;
    }
    .cus_nv ul li:hover>ul {
        display: block;
    }
    .cus_nv ul ul {
        padding: 0;
        text-align: center;
        display: none;
        width: 100%;
        position: absolute;
        top: 100px;
        left: 0px;
        border-top: 1px solid #E3E3E3;
        border-bottom: 1px solid #E3E3E3;
        background: #fff;
        bottom: 50px;
        display: flex;
        flex-wrap: wrap;
    }
    #some-div {
        margin: 0 30px 50px
    }
/*
    #some-div:hover {
        height: 170px
    }
*/
    #some-div a span {
        display: block;
    }
    #some-div a:hover {
        color: #BE8F45;
        text-decoration: none
    }
    #some-element>ul>li>a:hover {
        color: #BE8F45;
    }
    #some-element>ul>li>a {
        color: #181818;
        font-size: 12px;
        font-family: 'Montserrat';
        font-weight: 600;
    }
    #some-div a span {
        color: #181818;
        font-size: 12px;
        font-family: 'Montserrat';
        padding: 5px 0
    }
    #some-element li {
        float: left;
        padding: 5px 0
    }
    #some-element {
        border-bottom: 1px solid #E3E3E3;
        border-top: 1px solid #E3E3E3;
        display: none;
        padding: 10px 0;
        margin: 20px auto;
        position: absolute;
        width: 100%;
        left:0;
        background-color: transparent;
		
    }
		
		.go_back{
        display: none;
    }
    /* new megamenu */
}

@media only screen and (max-width: 1024px){
.tabs_veiw_s{display:none !important}
	.nav_head {
    padding: 0;
}
	
	.tabs_veiw{display: block}
	
	.nav-toggle{left: 0;position: absolute}
	
}

@media only screen and (min-width: 768px) and (max-width: 1024px) { 
	.nav-menu>li>a {
    text-transform: capitalize;}
	.navigation-portrait .nav-menu>li>a{color: #181818;
    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: 400;padding: 20px 10px 20px 30px;}
	.searchbox-open {
		width: 100%;position: absolute;}
	.searchbox-input{width: 90%}
	.nav-brand{position: absolute;
    left: 0;
    right: 0;
    text-align: center;
	top: 6px;
	margin: 0 10rem}
	.nav-brand>img {
    width: 112px;
}
	
	.navigation-portrait {
    height: 65px;
}
	
	.icon_r_12{top: 8px;right: 0;padding-left: 0}
	#thumbs, #big{z-index: 0}
	.category p {
		font-size: 11px;}
	.customers-testimonials{height: 450px}
	#thumbs .owl-item img{height: 450px}
	.cus_nv_m {
        justify-content: center;
        flex-wrap: wrap;
        padding:0 10px;
    }
    .cus_nv_m .expanded{
        width: 20.33%;
    }
/*
    #closeButton{
        display: none;
    }
*/
    .navigation-portrait .megamenu-panel {
        padding: 0 10px;
    }
    .navigation-portrait .megamenu-panel .row {
        width: 100%;
    }
    .navigation-portrait .cus_nv_m {
        flex-direction: row;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .nav-dropdown>li>a,
    .megamenu-list>li>a {
        width: 65%;
    }
    #some-element {
        position: absolute;
        left: 0;
        width: 77%;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding-top: 10px;
        padding-bottom: 10px;
	 right: 0;
    margin: 0 auto;
    }
    .navigation-portrait #some-div {
        height: auto;
        width: 33.33%;
    }
    #some-div a {
        display: block;
        text-align: center;
        padding: 10px;
    }
    #some-div a span {
        display: block;
        color: #181818;
        font-size: 12px;
        font-family: 'Montserrat';
        padding: 5px 0;
    }
    #some-element ul {
        padding-left: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #some-element ul li {
        float: inherit;
        list-style: none;
    }
    #some-element ul li a {
        color: #181818;
        font-size: 12px;
        font-family: 'Montserrat';
        font-weight: 600;
    }
    #some-element ul li a:hover {
        color: #BE8F45;
    }
    .navigation-portrait #some-div {
        border: none;
    }

	
	.inner_txt h1 {font-size: 25px;margin: 0}
	.inner_txt p {font-size: 14px;margin: 0}
	.bg_banner #customers-testimonials {padding:6.9rem 0 4rem;}
	.categoery_menu>li>a{font-size: 10px}
	.sec_padd {padding: 65px 0 0;}
	.inner_main_hadding h4{font-size: 24px;padding: 0 0 50px}
	.img_ovly img{width: 100%}
	.overlay_img img{width: 250px}
	.overlay_img img{padding: 18px 0 0 18px}
	.inner_left h3 {font-size: 24px;}
	.inner_left p{padding: 0}
	.view_bttn {font-size: 11px;padding: 9px 30px;}
	.bg_sec h2{font-size:29px}
	.slide_tx h3{font-size: 24px}
	.slide_tx{padding: 51px 0}
	.view_slide_bttn{font-size: 11px;padding: 9px 30px}
	.sub_txt h4{font-size: 30px}
	.sub_txt p{font-size: 16px}
	.custom_input{width: 65%}
	.inner_input{padding: 10px 18px;font-size: 16px}
	.spring_smmr img{width: 100%}
	.over_txt h4{font-size: 30px}
	.over_txt p{font-size: 14px}
	#sync2 .owl-item {font-size: 12px;padding:15.5px 1.4rem}
	.fb_slide_txt .owl-stage-outer .owl-stage{margin: 16px auto}
	#sync1 .owl-dots {top: 35%;right: 46px;}
	#sync1 .owl-dots button {width: 11px;height: 11px;}
	.luxury_txt button{padding: 9px 30px;white-space: nowrap;}
	.over_lay_tx h2{font-size: 30px}
	.over_lay_tx button{padding: 9px 30px}
	.over_lay_tx {transform: translate(-50%, -62%);}
	.inner_suiting h4{font-size: 30px}
	.inner_suiting p{font-size: 14px}
	.inner_suiting{top: 26%}
	.arrivals p strong {margin-top: 6px;}
	.arrivals a p {font-size: 13px;}
	section.hidden_m{display: none !important}
	.tab_padd{padding: 7rem 0 0}
	.nav-search a>img{width: 15px}
	.nav-search a{padding: 0 10px 0}
	.nav-search-button>img{width: 15px}
	.badge{width: 12px;height: 12px;right: 40px;}
	.inner_left {padding: 50px 0 0 90px;}
	.dis_flex {height: 210px}
	#sync1.owl-theme{height: auto}
	#sync1 .owl-nav{display: none}
	.submenu-indicator-chevron {height: 6px;width: 6px;}
	.col-xs-12>a>img{width: 115px}
	.return {
    padding: 0 5rem;}
	.inner_product {
    padding:130px 0 100px;}
	.tab button{padding: 9px 20px;font-size: 11px}
	.bag_bttn{font-size: 11px; padding: 9px 25px;}
	.floating-label label{font-size: 12px}
	.custom_date label{font-size: 12px}
	.custom_date input{font-size: 12px}
	.go_back{display: none;}
	.tabcontent {padding: 0 0 0 2.6rem;}
	.spacing_bttm {padding: 1rem 0 0;}
	.tabcontent h3{font-size: 18px}
	.main_a_bdr{padding: .6rem}
	.check_img {padding:0 .6rem 0 0;}
	.check_dis>p {font-size: 10px;}
	.confmed_bttn a{font-size:9px}
	.right_content_1 p{font-size: 10px}
	.confmed_bttn{font-size: 9px}
	.panel_head a h5{font-size: 16px}
	.panel_b p {font-size: 12px;}
	.check_add_3{margin: 0 1rem 0 0;}
	.inner_add {margin: 1rem 0;}
	.check_add_3 p{font-size: 11px}
	.check_add_3 p span{font-size: 12px}
	.mark_d{padding: 0}
	.check_add_3 .mark_d p{font-size: 10px}
	#wishlits {
    padding: 1rem 0;}
	.tips_sec p {font-size: 12px;}
	.icon_flt img {padding: .5rem .6rem 0 0;}
	.qnt_ord p{font-size: 10px}
	.multisteps-form__progress-btn p {font-size: 10px;}
	.tp_or_dt p{font-size: 11px}
	.md-number-input p{font-size: 10px}
	.md-number-input.number-input input[type=number]{max-width: 20px;height: 20px;font-size: 10px;margin: 0 .4rem}
	.md-number-input.number-input button {width: 20px;height: 20px;}
	.md-number-input.number-input button.plus {
    padding-left: 6px;}
	.sign_bttn {font-size: 11px;padding: 9px 23px 9px;}
	.over_bdr_1>input{font-size: 12px}
	.inner_input {padding: 10px 10px;}
	.appy_sec p {font-size: 12px}
	.price_tt table tr td{font-size: 12px}
	.dis_detail h4{font-size: 18px}
	.tx_head_1 {padding: 10px;}
	.tx_head_1 p{font-size: 12px;display: table;margin: 0 0 6px;}
	.dl_tm_1 img {padding: 0 10px 0 0;}
	.tab_deliverd{padding: 2rem 0}
	.floating-form {
    padding: 0 1rem;}
	.verfy_cd{display: none !important}
	.dis_detail h5{font-size: 18px}
	.dis_detail h2{font-size: 22px}
	.main_pd_dis{padding: 0}
	.hard_icon {padding: 4px 10px;}
	.hard_icon {margin: 0 12px}
	.product_dis_1 h1{font-size: 20px}
	.product_dis_1 p {
    font-size: 16px;
    line-height: 28px;}
	.deli_info_br{padding:30px 0 30px 30px}
	.info_right {width: 100%}
	.cotton_fabric_sec h5{font-size: 18px}
	.cotton_fabric_sec p{font-size: 16px}
	.inner_brocade h3{font-size: 30px}
	.inner_brocade p {font-size: 14px;}
	.inner_brocade {margin-top: 7rem}
	.subcategory_desk {padding: 150px 20px 60px}
	.form_login input[type="text"], .form_login input[type="password"], .form_login input[type="email"] {margin: 1.6rem 0 0;}
	.login_bttn {margin: 1.6rem 0 1rem;}
	.inner_main_ld h4{padding: 15px 0}
	.mass_tx{margin: 0}
	#inner_boxs{padding: 15px 12px}
	.go_bttn {padding: 15px 12px}
	.luxury_txt h1 {font-size: 45px;}
	.bg_clr {margin: 74px 63px 105px 20px;}
	.inner_txt{padding:5rem 0 0;height: 100%;top: 0}
	.nav-header {padding: 15px 15px 15px 0;width: 100%}
	

}


@media only screen and (max-width:768px) {
.hard_icon img {
    width: 20px;}
	#search-box{right: 15%;background: transparent}
	.inner_sub_txt{padding: 2rem 2rem}

}


@media only screen and (max-width:767px) {
    .appliedFilters{
        display: none !important;
    }
    .cartAction del{
        display: inline-block;
    }
    .cartProduct .md-number-input{
        padding: 5px 0 7px !important;
    }
    .checkoutInfo{
        margin-top: 10px;
    }
    .rm{
        margin-right: -15px !important;
    }
    .sortDesktop{
        margin-bottom: 5px;
        font-size: 12px;
    }
    .btnFilter{
        font-size: 12px !important;
    }

    .mob_view_filter{
        display: block;
    }
    #arrivals .owl-item img{
        height: 250px !important;
        object-fit: cover;
    }
	.main_a_bdr {
    border-bottom: 1px solid #ccc;}
	
	.orderProduct .main_inner_check.main_a_bdr img {
    margin: 0 0 10px;
}
	
	.fixed .nav-menu>li>a, .fixed .currencySwitch {
    padding: 1.3rem 32px !important;
}
	.brocade_bg{padding-left: 15px;}
	.checkoutBtn{padding: 5px 12px;font-size: 10.6px}
	.cartProduct{margin: 0 0 1rem}
	.icon_r_12 {
    position: relative;
    right: inherit;
}
	.fixed .nav-header {
    padding: 0;}
	
	.inner_po_right {
    right: 15px;
    position: relative;
}
	.update_bttn {float: inherit;}
	.icon_up a img {width: 16px;}
	.searchbox-icon img {width: 16px;}
	.mr-auto h4{
    padding:5rem 0 1rem;}
	.category>a{color: #000000}
	.check_dis>a{font-size: 11px;margin: 0}
	.main_tag>ul>div label{font-size: 12.6px}
	.icon_up a {padding: 0 0 0 10px;}
	.badge{right: 20px}
	.cotton_fabric_sec{padding: 0}
	.delivery_option h3{font-size: 12px}
	.delivery_option p input, .delivery_option p select{font-size: 12px}
	.delivery_option p button{font-size: 10px}
	.arrivals a p{font-size: 12px}
	
	.cotton_fabric_sec h5{font-size: 18px;font-weight: 600}
	.cotton_fabric_sec p{font-weight: bold;
    text-transform: uppercase;font-size: 12px}
	.dis_flex>.inner_left {padding: 2rem 0 0;}
	.expanded>a>img{float: left}
	
	.main_deve ul>li{font-size: 10px;padding: 0 20px 0 0}
	.main_deve h3{font-size: 16px;font-weight: 600;width: 60%}
	.appy>a>button {font-size: 13px;padding: 4pt 10pt 4pt;}
	.font_main .container{width: 95%}
	.main_deve p{font-size: 13px;padding: 1rem 0 0;}
	.main_deve h5{font-size: 15px;padding: 2rem 0 0}
	.con_form h4 {font-weight: 600;font-size: 18px;}
	.con_form label{font-size: 11px}
	.con_form input, .con_form textarea{font-size: 12px;padding: .6rem .8rem;}
	.file-upload-wrapper{height: 40px}
	.file-upload-wrapper:before{height: 38px}
	.file-upload-wrapper:after{padding: 0rem .8rem;line-height: 38px;height: 38px}
	.main_deve .appy{padding: 0}
	.sub_bttn_app {padding: 1rem 0 0;}
	.career_12 h5 {
    padding: .5rem;
    font-size: 12px;
    margin:4px 10px 0 0;}
	.career_12 p{font-size: 11px;white-space: inherit;margin: 4px 6px 0}
	.p-2 {padding: .5rem!important;}
	.career_12 .d-flex{padding: 0}
	.flex {margin: 0;}
	
	
	
	.wd_full .container{width: 100%}
	.subcategory_desk{background: url(../images/sub_img/cotton_mob.jpg) no-repeat center;padding: 0}
	.lace_sub {background: url(../images/sub_img/lace_mob.jpg) no-repeat center;}
	.linen_sub{background: url(../images/sub_img/linen_mob.jpg) no-repeat center;}
	.plain_sub{background: url(../images/sub_img/plain-01_mob.jpg) no-repeat center;}
	.wool_sub{background: url(../images/sub_img/wool_mob.jpg) no-repeat center;}
	.silk_sub{background: url(../images/sub_img/silk_mob.jpg) no-repeat center;}
	#big .owl-dots{left: 1rem}
	#thumbs{display: none}
	.customers-testimonials{background: none;height: auto}
	#big{left: 0;z-index:inherit}
	#arrivals {
    margin: 0 0 4rem;
}
	.mrg_top .padd_0{padding: 0}
	
	#customers-testimonials {
		background: url(../images/mob_main_banner.jpg) no-repeat;}
	.inner_txt{left: 1rem;position: absolute;bottom: 7rem;}
	#customers-testimonials .owl-dots{left: 0}
	.row .col-md-6.padd_0{padding: 0}

	
	.cus_nv_m {
        justify-content: center;
        flex-wrap: wrap;
        padding:0 10px;
    }
    .header_z{
        z-index: 9999;
        height: 100vh;
        overflow-y: scroll;
        background-color: #ffffff;
    }
    #closeButton{
        display: none;
    }
    .cus_nv_m .expanded{
        width: 33.33%;
    }
	
	.ab_align{margin: 0 0 2rem}
	.cart_detail_s .form-group input{width: 100%}
	#suiting .owl-dots{bottom: 4%}
	.floating-form {
    padding: 0;}
	.main_pay_rw {
    width: 100%;}
	.contact_head p span {
    display: inline;
}
	.return {padding: 0;}
	.main_placed .check_dis>p{font-size: 12.2px;line-height:30px}
	.dele_add {padding: 1.6rem 1rem;margin: 0 0 3rem}
	.or_placed{padding: 1.6rem 2rem 1rem;}
	.or_placed .check_dis{text-align: center}
	.mrg_12 .main_placed{padding: 1rem 1rem;}
	.mrg_12.mrg_desk{margin: 0 0 18rem}
	.or_placed>.check_img{float: inherit;text-align: center;}
    .inner_main_ld h4 {
        font-size: 20px;
        font-weight: 500;
		text-align: center;
    }
    .inner_bx {
        width: 100%;
    }
    #inner_boxs {
        padding: 8px 12px
    }
    .go_bttn {
        padding: 8px 12px;
        width: 100%
    }
    .dis_flx_bttm p {
        font-size: 11px;
        padding: 0 10px
    }
    .bg_banner {
        background: url(../images/mob_top_banner.png) no-repeat center;
        background-size: cover;
        width:100%;
    }
    .inner_main_hadding h4 {
        font-size:18px;
        padding: 0rem 0 3rem;
    }
    .inner_txt h1 {
        font-size: 22px;
        color:#f5a62b;
		text-transform: uppercase
    }
    .bg_banner #customers-testimonials {
        padding:215px 0 75px;
    }
    .sec_padd {
        padding:3rem 0 0;
    }
    .inner_txt h1 span {
        display:block
    }
    .inner_txt p {
        font-size: 13px;
        padding: 0;
		color: #fff;
		font-weight: 600
    }
    .inner_txt p span {
        display:inline-block;
        padding: 0
    }
    #customers-testimonials .owl-dots {
        bottom:6rem;
        text-align: center;
        width: 100%
    }
    .img_ovly img {
        width: 80%
    }
    .overlay_img img {
        position: absolute;
        width: 55%;
        right: 0;
        padding: 15px;
        background: #fff;
        bottom: -45px;
    }
    .luxury_img_mob img {
        width: 100%
    }
    .inner_left p {
        padding: 0;
		font-size: 12px;
    }
    .inner_left {
        padding: 60px 0;
    }
    .inner_left h3 {
        font-size: 15.6px;
        font-weight: 500;
		text-transform: uppercase;
		line-height: 25px;
		
    }
/*
    .ld_bg {
        height: 100vh
    }
*/
    .right_img_top img {
        position: absolute;
        bottom: 80%;
        width: 60%;
        right: 0;
        padding: 15px;
        background: #fff;
    }
    .mob_view {
        display: block !important
    }
    .desk_view {
        display: none !important
    }
    #braghten .owl-dots {
        position: absolute;
        bottom: 18px;
		width: 100%;
    text-align: center;
    }
    #braghten .owl-dots button.active {
        background: #FFFFFF;
    }
    #braghten .owl-dots button {
        background: #979797;
        width: 50px;
        height: 2px;
        margin: 5px;
    }
    .bg_sec h2 {
        font-size: 24px;
    }
    .bg_sec h2 span {
        display: inline
    }
    .bg_bttn {
        display: none
    }
    .bg_sec {
        background: url(../images/brighten.jpg) no-repeat 50%;
        background-size: cover;
    }
    .bg_clr {
        margin:150px 70px 95px 12px;
        padding: 20px;
    }
    #collection_slide {
        background: #EFEFEF
    }
    .spe_coll_1 {
        margin:16.6rem 0 0
    }
    .slide_tx {
        padding: 60px 0;
    width: 100%;
    left: 25px;
			
    }
    .slide_tx h3 {
        font-size:20px;
        font-weight: 500;
        color: #000000
    }
    .view_slide_bttn {
        background: none;
        padding: 9px 25px;
        border: 1px solid #BFBFBF;
        color: #000000;
		margin-top: 10px;
    	font-weight:600;
		margin-bottom: 30px;
		font-size: 10.6px;
    }
    .inner_txt span {
		padding: 0 0 8px;
    }
    #collection_slide .owl-dots {
        left: 25px;
        text-align: left
    }
    .dis_flex {
        height: 185px;
    margin-bottom: 3rem;
		display:inherit;
    align-items:inherit;
    justify-content:inherit;
		text-align: center
    }
	
	.dropdown{position: relative}
	
	.brocade_bg>.dis_flex{padding: 5.5rem 0 3.6rem;height:auto;margin-bottom: 0}
	
	.mrg_tp_aw{height: 230px}
    .flex_derection {
        flex-direction: column-reverse;
        display: flex;
		padding: 0 0 4rem
    }
    .sub_txt h4 {
        color: #000000;
        font-size: 20px;
		font-weight: 500
    }
    .sub_txt p {
        font-size: 14px
    }
    .custom_input {
        width: 100%
    }
    .inner_input {
        width: 100% !important;
		padding: 9px 10px;
		font-size: 14px;
    }
    .input-group-append {
        margin: 25px auto 0
    }
    .checkoutPage .input-group-append{
        margin: 0px;
    }
    .fb_slide_txt {
        width: 100%;
        background: transparent;
    }
    .fb_slide_txt .owl-stage-outer .owl-stage {
        display: flex;
        width: 100% !important;
        margin:2rem auto 1rem
    }
   
    #sync2 .owl-item {
        color: #000000;
        font-size:14px;
        padding: 10px
    }
    #sync2 .owl-item.current {
        font-size:14px;
        font-weight: 600
    }
    #sync1.owl-theme {
        width: 100%;
        height: auto;
    }
    #sync1 .owl-dots {
        margin: 0 auto;
        display: block;
        bottom: 60px;
        top: auto;
        right: auto;
        text-align: center;
        width: 100%
    }
    #sync1 .owl-dots button {
        width: 10px;
        height: 10px;
    }
    .over_txt {
        padding: 43% 0
    }
    .over_txt p,
    .over_txt p span {
        font-size: 14px;
padding: 0 3.6rem;
	
    }
    .over_txt h4 span {
        display: block
    }
    .luxury_txt_mob {
        bottom: 100px;
        width: 100%;
        text-align: center;
        position: absolute
    }
    .luxury_txt_mob p {
        font-size: 14px;
        font-family: Montserrat;
        color: #fff;
		padding: 0 1rem;
		font-weight: 500;
    }
	
    .luxury_img_mob {
        position: relative;
    }
    .luxury_txt_mob button {
        font-weight: bold;
        color: #fff;
    }
    .denims_img img {
        width: 70%;
    z-index: 9;
    transform: inherit;
    left: 0;
    top: 0;
    position: relative;
    }
    .lft_img img {
     width: 73%;
    top: -101px;
    right: 15px;
    transform: inherit;
    position: absolute;
    }
    .over_lay_tx {
        position: relative;
        padding:10px 0 50px;
        right: 0;
        transform: inherit;
		top: 120px;
    }
    .over_lay_tx h2 span {
        display: none
    }
    .over_lay_tx button.denims_bttn {
        border: 1px solid #BFBFBF;
        padding: 10px 25px;
        font-weight: bold;
		top: 0
    }
    .over_lay_tx h2 {
        font-size: 20px;
        color: #000000;
        font-weight: bold;
        font-family: 'Montserrat'
    }
    .over_lay_tx p {
        color: #8D8D8D;
        font-family: 'Montserrat';
		margin: 0
    }
    .inner_suiting h4 {
        font-size: 38px;
		font-weight: bold;
    }
    .inner_suiting p {
        font-size: 14px;
    }
    .arrivals p strong {
        font-size: 14px;
		margin-top: 8px
    }
	
	.mob_img{margin: 30px 0 0}
	.inner_ftt p span{display: inline}
	.ftt_menu ul{width: 50%;margin:30px 0}
	.flt_inhrit ul{float: inherit;margin: 0}
	.copy_txt p{margin:1.6rem 0 0;text-align: center}
	.pay_icon{float: inherit;text-align: center}
	.pay_icon a {padding: 0 15px;}
	.inner_ftt img{padding: 0 0 10px;width: 130px}
	.right_img_top {
    margin-top: 0;}
	.gn_fabric img{width: 80%}
	.print_fb img{width: 80%;}
	.print_fb_overlay{position: absolute;
    width: 55%;
    right: 0;
    padding:15px 0 0 15px;
    background: #fff;
    bottom: -45px;}
	#sync1 .owl-nav{display: none}
	.mrg_top{margin: 73px 0 0}
	#sync1 img{height: 475px;width: 100%;padding: 0 15px;}
	
	
/*	header  css */
	
	.navigation-portrait .nav-search{display: none}
	#closeButton{display: none}
	.navigation-portrait .submenu-indicator{margin-top: -6px;top: 10px;right: 4px}
	.nav-header {padding: 0;width: 100%}
	.nav-brand{text-align: center;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 6rem;
    z-index: -1;}
	.nav-toggle{left: 15px}
	.main_header_area .container{width:92%}
	
	
	.dropdown-content a{font-size: 12px;padding: 12px 10px}
	.dropdown:hover .dropdown-content{background: #fff;width: 100%}
	.dropdown-content{
    padding: 10px 18px;}
	.drop_bg {margin: 30px 0 0}
	/* .ftt_bg{margin-top: 60px} */
	.left_fittr>p{display: none}
	
	.left_fittr{display: none;width: 100%;background: #fff;
    position: absolute;
    z-index:1;
    left: 0;
    right: 0;
    padding: 50px 15px;
    top: 40px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);}
	
	.inner_right_prodct h6{
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 500;
    color: #000000;
	width: 50%;
	margin:0 auto;
}
	
	.inner_right_prodct>p{width: 50%;display: inline-block;font-size: 14px;padding: 0 5px 20px}
	
	ul.pagination li a{padding: 18px 10px}
	.inner_listing {
    padding:0px 0 0;}
	.padd_right_0{padding: 0}
	.inner_brocade h3 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}
	
	.inner_brocade p {
		font-size: 12px;}
	
	.pro_124{background: #BE8F45; font-size: 12px;border: none;color: #fff;margin-top: 0}
	
	
	.subcategory_mob{background: url(../images/sub_banner.png) no-repeat center;
    background-size: 100%;
    padding: 160px 15px 100px;}
	
	.inner_sub_txt{position: relative;bottom: inherit;left: 0}
	
	#top_banner_1 .owl-dots {bottom: -52px;}
	
/*
	.head_shedow {
    box-shadow: none;
}
*/
	.inner_product {
    padding:0px 0 0px;
	position: relative
}
	.main_pd_dis {
    padding: 0;
}
	
	.dis_detail p {
		font-size: 12px;}
	.dis_detail h2 {
		font-size: 16px;font-weight: bold}
	.dis_detail h2 span{font-weight: normal;font-size: 14px}
	.bag_bttn{width: 60%;padding: 10px 35px;}
	.hard_icon{padding: 7px 10px;}
	.inner_fabric_1 p{font-size: 11px;font-weight: 500}
	.inner_fabric_1 p span {font-size: 10px;display:inline;}
	.shipp_12{width: 100%}
	.diliver_1 p{display: inline-table;}
	.dis_mrg_1 {padding:25px 15px;}
	.product_dis_1 h1{font-size:13px;font-weight: 600}
	.product_dis_1 p{font-size: 11px;
    line-height: 18px;
    color: #666;}
	
	.dis_detail {
    padding: 20px 0;}
	.may_leke_sec {padding: 0;}
	.over_icon_hard>img{position: absolute;
    right: 20px;
    top: 20px;
    color: #fff;
    border: 1px solid #fff;
    padding: 8px;
    display: block !important;
    width: 36px !important;
    height: auto !important;
}
	
	.icon_hard i:hover{color: #BE8F45;border: 1px solid #BE8F45}
	.check_dis>p{font-size: 11px;margin: 0;line-height: 20px}
	.check_dis{float: inherit;display: table}
	.right_icon{float: inherit;position: absolute;
    left: 107px;
    bottom: 0;}
	.right_content_1 {
    position: absolute;
    text-align: right;
	bottom:0;
}
	.right_content_1 p{font-size: 11px;margin:0}
	.check_qu_1>.md-number-input p{font-size: 12px;margin: 0 0 5px}
	.check_qu_1>.md-number-input.number-input button{width: 25px;height: 25px}
	.check_qu_1>.md-number-input.number-input button.plus {
    padding-left:6px;}
	.check_qu_1>.md-number-input.number-input input[type=number]{height: 25px;margin: 0 .2rem;box-sizing: content-box;}
	.appy_sec {margin-top: 20px;}
	.main_inner_check{position: relative;padding: 10px}
	.mrg_12 {margin: 0 0 2rem;
    border-bottom: 1px solid #cccccc73;
    padding: 0 0 1rem;}
	.main_inner_check{border-bottom: none}
	.check_img{padding: 0 12px 0 0}
	.appy_sec .inner_input {width: 50% !important;}
	.appy_sec .input-group-append {
    margin: 0px auto 0;}
	.appy_sec .sign_bttn{padding: 10px 40px 12px;border-radius: 3px}
	.appy_sec span .input-group-text.sign_bttn{padding: 5px 40px}
	.check_add_2 {padding: 3rem 0 0rem;}
	.check_add_3 {width: 100%;}
	.check_add_3>img{left: 88%}
	.bdr_over_rigfht{margin: 2rem 0}
	.appy_sec p {font-size: 14px;}
	
	.custom-control-label{font-size: 13px}
	.form-check label{font-size: 13px}
	.mb_padd{padding: 2rem 0}
	.check_dis>p>strong{padding: 0;font-weight: 600}
	.radio-item input:checked + label{font-size: 13px}
	.panel_head a h5{font-size: 16px}
	.pay_m h4{font-size: 16px}
	.nav_head{padding: 0}
	.main_flx_f{flex-direction:row-reverse;}
	.copy_txt {float: inherit;}
	.nav-brand>img{width:100px}
	.sub_txt p span{display: inline}
	.padd_1_0{padding: 0}
	.denims_img img{padding: 0 10px 10px 0;}
	.spring_smmr img{width: 100%}
	.secound_hadd_pr h4{font-size:18px}
	.inner_txt img{width: 100% !important}
	.sec_arrivals .container{width: 95%}
	.bg_banner>.container{width: 100%}
	.product_info .container{width: 96%}
	
	
	header{position: relative}
	.navigation-portrait{height: auto;padding: .6rem 0}
	.fixed .navigation-portrait{padding: 0}
	.pay_icon>a>img{width:65px}
	.view_bttn{padding:9px 25px;font-size: 10.6px;font-weight: 600}
	.po_inherit{position: relative;padding: 3rem 2rem;
    left: 0;}
	.coll_bg{background:#EFEFEF;}
	.over_txt h4{font-size: 26px}
	.po_inherit h3 span{display: block}
	.view_co{display: block;margin:1rem auto}
/*.tabcontent[style]{display: none !important}*/
	.tab{width: 100%}
	.tabcontent{
	width: 100%;
    padding: 0 1rem;
    left: 0;
    right: 0;
    background: #fff;
	}
	
	.arrivals .owl-item img{height: 281px}
	.padd_left_4{padding: 0}
	.container.cart_detail_s{width: 100%}
	#reco_for .owl-item img{height: 281px}	
	#may_like .item>img{height:186px}
	.dis_detail h5{font-size: 16px}
	.md-number-input p{font-size: 12px}
	.shipp_12 p{font-size: 11px}
	#product_slide .owl-item img{height: 310px}
	.inner_sec_tp {
		background: transparent;padding: 0}
	.inner_main_ld{padding: 0 2rem; width: 98%;margin: 3rem auto}
	.or_placed>.check_img img{background: #F3F3F3;
    padding: .6rem;
    border-radius: 50%;}
	.or_placed .check_dis p strong{display: inline}
	
	/* new tab ui */
    .tabcontent{
	width: 100%;
    padding: 0 2rem;
    left: -1000%;
    right: 0;
    background: #fff;
    position: absolute;
    /* z-index: 999; */
    overflow: scroll;
    height: 100vh;
    padding-top: 30px;
    max-height: 500px;
    padding-bottom: 30px;
	top: 40px
    }
    .show_tab{
        display: block;
        left: 0;
    }
/*
    .body_h{
        overflow: hidden;
    }
*/
	
	.custom_date{margin-bottom: 4rem}
	.panel_b p{font-size: 12px}
	.wish_img img{width: 100%}
	.f_icon{right: 2rem}
	.tabcontent h3{padding: 0 0 2rem;font-size: 18px}
	.wish_img{margin: 0 0 3rem;position: relative}
	.spacing_bttm{padding: 0}
	.mrg_12>.main_inner_check{border:none}
	.mrg_12>.main_inner_check{padding: 0 0 .6rem;}
	.check_dis>p>strong>span{display: table}
	.tp_or_dt p{font-size: 12px}
	.qnt_ord p{font-size: 11px;margin: 0}
	.qnt_ord{padding: 0;}
	.multisteps-form__panel[data-animation="scaleIn"].js-active{border: 1px solid #D8D8D8}
	.multisteps-form__panel[data-animation="scaleIn"].js-active>.main_inner_check{border: none}
	.multisteps-form__panel>.main_a_bdr {margin: .6rem 0;padding: 0 10px;}
	.mr-auto{padding: 0}
	.multisteps-form .container{width: 100%}
	.multisteps-form__progress-btn p {
    color: #38383A;
    text-indent: initial;
    font-size: 8px;
    font-weight: 500;
}
	.rd_paymt>.container{width: 100%}
	.tips_sec p{font-size: 12px}
	.search_hp{padding: .6rem 0}
	.search_hp input{font-size: 12px}
	.search_hp img{width: 17px}
	.search_hp button{padding: 0 .6rem 0 0}
	.padd_0{padding: 0 15px}
	.mrg_12>.rm_bdr{border-bottom: none}
	.dis_detail h4{font-size: 18px}
	.tx_head_1 {padding: 15px}
	.inner_main_ld h6{font-size: 15px}
	.login_bttn{padding: .8rem;font-size: 12px}
	.form_login input[type="text"], .form_login input[type="password"], .form_login input[type="email"]{padding: .8rem}
	.social_i{padding:.5rem .8rem}
	.categoery_menu .submenu-indicator-chevron{border-color: transparent #000000 #000000 transparent;}
	#product_slide{padding: 0}
	.check_img img{width: 95px;
    padding: 10px 0 0 10px;}
	.inner_con_head {padding:3.6rem 0 2rem;}
	.con_tp{padding: 3rem 0 0}
	.rm_bdr>.check_img img{padding: 0}
	.main_a_bdr>.check_img img{padding: 0}
	.custom_con{width: 100%;
    padding:1.6rem 0 0 40px;}
	#mini_slide .owl-dots{display: none}
	#sync2 .owl-dots{display: none}
	.sign_bttn {font-size: 12px;padding: 9px 30px;}
    /* new tab ui */
	
	.cttn_coll{border: 1px solid #BE8F45;background: #BE8F45;
    color: #fff;margin-bottom: 0}
	
	.inner_sub_txt{margin: 4rem 0}
	.inner_listing .inner_sec_tp .container{width: 100%;}
	.inner_right_prodct .cotton_fabric_sec img{height: 166px}
	.inner_right_prodct .cotton_fabric_sec h5{margin-top: 10px;font-size: 10px}
	.cotton_fabric_sec span {font-size: 9px;
    bottom: 109px;
    padding: 4px 11px;}
	.inner_right_prodct .cotton_fabric_sec p{font-size: 11px}
	.custom_col .col-6{padding: 0 5px}
.custom_col{margin: 0}
	
	.deli_info_br{padding: 0;border: none}
	
	.info_right{border-right: none;text-align: center;width: 100%;border:1px solid #6666661f; padding: 15px;margin: 0 0 4px;height: 145px}
	.deli_info img{width:19px}
	
	.bdr_message{border:1px solid #6666661f;height: 145px;
    padding:1rem 0;text-align: center}
	.deli_info_br {margin: 0 0 60px}
	.deli_info p {font-size: 10px;}
	.deli_info p strong {font-size: 12px;}
	.dis_help p {font-size: 14px;font-weight: bold;color: #666;}
	.return p{font-size: 13px}
	.floating-label {margin-bottom: 2.6rem;}
	.con_detail_form p span{padding: 0 0 1.6rem;font-size: 12.6px}
	.file_upload span{margin-right:8px}
	.con_detail_form p{font-size: 14px}
	.contact_head h4{font-size: 20px}
	.contact_head p{font-size: 13px}
	.padd_right{padding-right: 2px}
	.padd_left{padding-left: 2px}
	.ftt_bg .container{width: 100%}
	.ftt_menu ul li a {font-size: 11px;}
	.inner_ftt p {font-size: 12px;margin: 0 0 10px}
	#luggage{font-size: 12px}
	.inner_top {padding: 40px 0;}
	.checkout_menu ul{display: none}
	.social_icon ul{width: 100%;text-align: center;float: inherit;display: flow-root;}
	.live_txt {margin: 2rem 0 0;}
	.file_upload .custom-file-upload{font-size: 14px;padding: 2px 15px}
	.social_icon ul li{padding: 0 1rem}
	
	.header-v2 .container{width: 100%}
	
	.checkout_menu{text-align: center}
	
	.shield label {
    font-size: 11px!important;
    margin: 0 0 0 5px!important;
		white-space: nowrap;
}
	
	.shield i {
    font-size: 20px!important;
}
	
	.header-v2 img{width: 92px}
	
	.shield{float: right}
	
	.product_details_right ul li{font-size: 11px}
	.product_details_right ul li:nth-child(16) {font-size: 11px;}
	
	
}
	
    @media only screen and (min-width: 320px) and (max-width: 767px) {
		.nopadding{
            padding: 0px;
        }
	.ftt_bg {
		background: url(../images/footer_bg_mb_1.jpg) no-repeat;background-size: cover;
		}
		
		.ld_bg {
			/* background: url(../images/ld_bg_mob.jpg) no-repeat center;background-size:cover */}
		
/* New menu css*/
		
		
		.navigation-portrait .megamenu-panel{border-top:none;
    background-color:none;
    box-shadow:none;padding: 0}
		
		.navigation-portrait .nav-menu>li{border-top: none}
		
		.navigation-portrait .nav-menu>li>a, .currencySwitch {
			font-size: 13px;
			font-weight: 500;
			text-transform: inherit;
    padding:1.3rem 32px;
	border-bottom: 1px solid rgba(0,0,0,.125);
			height:auto;
}
		
		

		
		
		
        .navigation-portrait .cus_nv_m {
            flex-direction: row;
            width: 100%;
            display: flex;
            justify-content: space-between;
			margin: 0
        }
        .nav-dropdown>li>a,
        .megamenu-list>li>a {
            width: 65%;
        }
        #some-element {
            position: absolute;
            left: 0;
            width: 100%;
/*            border-top: 1px solid #ccc;*/
            border-bottom: 1px solid #ccc;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .navigation-portrait #some-div {
            height: auto;
            width:100%;
        }
        #some-div a {
            display: block;
            text-align:left;
			border-bottom:1px solid #ccc;
        }
		
		#some-element>ul>li>a{border-bottom: none}
		
        #some-div a span {
            display: block;
            color: #181818;
            font-size: 12px;
            font-family: 'Montserrat';
            padding: 20px 0;
        }
        #some-element ul {
            padding-left: 0px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        #some-element ul li {
            float: inherit;
            list-style: none;
    		width: 100%;
    		padding: 10px;
			
        }
        #some-element ul li a {
            color: #181818;
            font-size: 12px;
            font-family: 'Montserrat';
            font-weight: 600;
        }
        #some-element ul li a:hover {
            color: #BE8F45;
        }
        .navigation-portrait #some-div {
            border: none;
			margin-bottom: 0;
        }
        
    }


@media (min-width: 576px){
.modal-dialog {max-width:600px;}
}

@media (min-width: 690px){
    .right_icon {
        float: unset;
        position: absolute;
        right: 15px;
        top: 15px;
        left: unset;
    }
}

@media only screen and (max-width:414px){
#customers-testimonials .owl-dots {
	bottom: 18rem;}
	.scroll-down{bottom: 18rem}
	
}

@media only screen and (max-width:375px){
	#customers-testimonials .owl-dots {
	bottom: 6rem;}
	.scroll-down{bottom: 12rem}	
}